@import "pub/public.css";

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    /*background: #f1f1f1;*/
    color: #000;
    text-align: center;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.detail_header {
    height: 6.38rem;
    position: relative;
    text-align: center;
}

/*头部的背景图*/
.detail_header .header_img {
    display: block;
    width: 100%;
    height: 100%;
}
/*素小友*/
.detail_header .superman{
    position: absolute;
    top:3.28rem;
    left: 0;
    width: 1.93rem;
    height: 2.13rem;
}

.detail_header .header_logo{
    position: absolute;
    top: 0.5rem;
    left: 1.94rem;
}
.detail_header .header_logo div{
    margin-bottom: 0.24rem;
}
.detail_header .header_logo .logo_top{
    height: 0.88rem;
    line-height: 0.88rem;
    margin-bottom: 0.3rem;
}
.detail_header .header_logo .logo_top img{
    display: inline-block;
    vertical-align: middle;
}
.detail_header .header_logo .logo_top .logo{
    width: 0.9rem;
    height: 0.9rem;
}
.detail_header .header_logo .logo_top .suyou{
    width: 1.1rem;
    height: 0.5rem;
}
.detail_header .header_logo .world{
    margin-bottom: 0.4rem;
}
.detail_header .header_logo .world img{
    width: 4rem;
    height: 0.5rem;
}
.detail_header .header_logo .friend{
    margin-bottom: 0.2rem;
}
.detail_header .header_logo .friend img{
    width: 3.94rem;
    height: 0.64rem;
}
.detail_header .header_logo .you{
    margin-left: 0.6rem;
}
.detail_header .header_logo .you img{
    width: 3.94rem;
    height: 0.52rem;
}
/*详情内容部分*/
.detail_content {
    position: absolute;
    top: 4.88rem;
    left: 0.3rem;
    width: 6.9rem;
    height:auto;
    background: #FFFFFF;
    box-shadow: 2px 2px 19px 0 rgba(153, 153, 153, 0.50);
    border-radius: 16px;
}
.detail_content .header_help{
    /*width: 100%;*/
    padding: 0.2rem;
    font-size: 0.3rem;
    font-family: PingFangSC-Regular;
    text-align: center;
    border-bottom: 1px solid #E6E6E6;
    color: #333333;
}
.detail_content .header_help .name{
    color: #363B63;;
}
/*详情共同部分*/
.detail_content .same {
    /*width: 100%;*/
    padding: 0.25rem 0.3rem;
    /*border-bottom: 1px solid #E6E6E6;*/
}

/*详情内容头部*/
.detail_content .content_header {
    /*height: 1.08rem;*/
    /*margin-bottom: 0.24rem;*/
}

/*详情内容头部-个人头像*/
.detail_content .content_header .header_photo {
    display: inline-block;
    float: left;
    width: 0.68rem;
    height: 100%;
    margin-right: 0.1rem;
    border-radius: 50%;
    overflow: hidden;
}

.detail_content .content_header .header_photo img {
    width: 100%;
}

/*详情内容头部-个人描述部分*/
.detail_content .content_header .header_person {
    margin-left: 0.08rem;
    /*padding: 0.1rem;*/
    text-align: left;
}
.detail_content .content_header .header_person .footer_img {
    width: 0.18rem;
    height: 0.2rem;
    vertical-align: middle;
}
.detail_content .content_header .header_person .footer_font {
    font-size: 0.22rem;
    vertical-align: middle;
    color: #666666;
    padding-right: 0.2rem;
}
.detail_content .content_header .header_person .person_name {
    font-size: 0.26rem;
    font-weight: 600;
    color: #363B63;;
    height: 0.45rem;
    line-height: 0.45rem;
    /*margin-bottom: 0.14rem;*/
    display: inline-block;
}

/*gender、age*/
.detail_content .content_header .header_person .tag {
    display: inline-block;
    border-radius: 0.2rem;
    text-align: center;
    vertical-align: sub; /*ok*/
    color: #666666;
    font-size: 0.22rem;
}

/*description 0.34*/
.detail_content .content_header .header_person .tag_desc {
    border: 1px solid #fcdb40;
    background-color: #fbf3cd;
    height: 0.3rem;
    width: auto;
    line-height: 0.3rem;
    padding: 0.02rem 0.12rem;
}
.detail_content .content_header .header_person .create_date{
    display: inline-block;
    float: right;
    color: #666666;
    font-size: 0.22rem;
}
/*gender-images，age 0.38*/
.detail_content .content_header .header_person .gender_age {
    width: 0.72rem;
    height: 0.34rem; /*ok*/
    line-height: 0.48rem;
    padding: 0.02rem 0.04rem; /*ok*/
    background-color: #56d8da;
    text-align: center;
    position: relative;
    font-size: 0.2rem;
}

/*gender-images*/
.detail_content .content_header .header_person .gender_age .tag_gender {
    height: 84%;
    float: left;
    margin-left: 0.04rem;
    margin-top: 0.02rem;
}

/*age*/
.detail_content .content_header .header_person .gender_age .tag_age {
    color: #ffffff;
    display: inline-block;
    position: absolute;
    right: 0.08rem;
    top: -0.06rem;
}

/*标题*/
.detail_content .aim {
    /*height: 0.45rem;*/
    padding-left: 0.5rem;
    margin-bottom: 0.08rem;
    /*border-bottom: 1px solid #E6E6E6;*/
    /*border-top: 1px solid #E6E6E6;*/
}

.detail_content .aim .aim_img {
    /*width: 0.17rem;*/
    height: 0.34rem;
    float: left;
}

.detail_content .aim .aim_title {
    font-weight: bolder; /*ok*/
    font-family: PingFangSC-Medium;
    font-size: 0.32rem;
    color: #333333;
    padding-left: 0.26rem;
    display: inline-block;
    float: left;
}

/*detail*/
.detail_content .content {
    width: 6.3rem;
    padding: 0 0.3rem;
    font-size: 0.3rem;
}

.detail_content .content .content_detail {
    padding: 0 0.2rem;
    font-family: PingFangSC-Light;
    color: #333333;
    line-height: 0.46rem;
    text-align: left;
}

/*全文*/
/*.detail_content .content .all_btn {*/
    /*display: inline-block;*/
    /*float: right;*/
    /*color: #f6d744;*/
/*}*/

.detail_content .content ul {
    /*width: 100%;*/
    min-height: 1.94rem;
    margin: 0.4rem 0;
    /*overflow: hidden;*/
}

.detail_content .content ul li {
    float: left;
    width: 1.94rem;
    height: 1.94rem;
    margin: 0.06rem;
    display: inline-block;
    border-radius: 0.18rem;
    overflow: hidden;
}

.detail_content .content ul li img {
    width: 100%;
    height: 100%;
}

/*展开按钮*/
.detail_content .content .open_btn {
    display: inline-block;
    float: right;
    width: 0.28rem;
    height: 0.16rem;
    margin-right: 0.2rem;
    /*transform: rotate(180deg);*/
}

/*位置时间等信息*/
.detail_content .content_footer {
    clear: both;
    border-bottom: none;
    height: 0.3rem;
    position: relative;
    bottom: 0;
    border-top: 1px solid #E6E6E6;
    text-align: left;
}
.detail_content .content_footer p{
    display: inline-block;
    font-family: PingFangSC-Regular;
    font-size: 0.22rem;
    color: #666666;
    background: #FBF3CD;
    border: 1px solid #FCD204;
    border-radius: 16px;
    height: 0.3rem;
    line-height: 0.3rem;
    margin-right: 0.4rem;
    padding: 0.02rem 0.14rem;
}

/*.detail_content .content_footer .footer_img {
    width: 0.24rem;
    vertical-align: middle;
    !*height: 0.22rem;*!
}

.detail_content .content_footer .footer_font {
    font-size: 0.22rem;
    vertical-align: middle;
    color: #999999;
}

.detail_content .content_footer .time_img,
.detail_content .content_footer .msg_img,
.detail_content .content_footer .trans_img {
    margin-left: 0.3rem;
}

.detail_content .content_footer .footer_left {
    float: left;
}

.detail_content .content_footer .footer_right {
    float: right;
}*/

/*关系脉络*/
/*.detail_footer {
    position: relative;
    top: 8rem;
    left: 0;
    padding: 0.3rem 0.6rem;
    text-align: left;
}*/
/*爱心公益*/
/*.detail_footer .love{
    !*width: 5.38rem;*!
    height: 0.28rem;
    line-height:0.28rem;
    text-align: center;
}
.detail_footer .love img{
    display: inline-block;
    width: 0.28rem;
    height: 0.28rem;
    vertical-align: sub; !*ok*!
}
.detail_footer .love span{
    font-family: PingFangSC-Regular;
    font-size: 0.26rem;
    color: #999999;
    line-height: 0.28rem;
}
.detail_footer .love span .yellow{
    color: #f6d744;
    !*font-weight: bolder;*!
}*/
/*关系脉络*/
/*.detail_footer p {
    font-size: 0.28rem;
    color: #666666;
    line-height: 0.4rem;
}

.detail_footer ul {
    margin-top: 0.2rem;
    height: 0.94rem;
}

.detail_footer ul li {
    float: left;
    width: auto;
    height: 0.94rem;
    text-align: center;
    position: relative;
    !*border-radius: 0.18rem;*!
    !*overflow: hidden;*!
    !*line-height:0.84rem;*!
}

.detail_footer ul .person img {
    height: 0.64rem;
    width: 0.64rem;
    border-radius: 50%;
}
.detail_footer ul .person .zhuan{
    width: 0.28rem;
    height: 0.28rem;
    position: absolute;
    top: -0.02rem;
    left: 0.4rem;
}
.detail_footer ul .person p {
    font-size: 0.2rem;
    color: #999999;
    height: 0.2rem;
    line-height: 0.2rem;
}*/

/*箭头*/
/*.detail_footer ul .arrow {

}*/

/*.detail_footer ul .arrow img{
    width: 100%;
    height: 100%;
}*/
/*一度*/
/*
.detail_footer ul .level {
    float: right;
}

.detail_footer ul .level p {
    width: 0.92rem;
    height: 0.44rem;
    line-height: 0.44rem;
    border-radius: 0.2rem;
    border: 1px solid #fcdb40;
    text-align: center;
    padding: 0.01rem;
}
*/


.detail_footer{
    margin: 0 auto;
    width: 6.9rem;
    position: relative;
    font-family: PingFangSC-Regular;
    font-size: 0.3rem;
    color: #2A2A2A;
}
.detail_footer .red_bag{
    font-size: 0.28rem;
    height: 1.42rem;
    line-height: 1.42rem;
    background-image: url("../images/dialog.png");
    background-size: 100% 100%;
    text-align: left;
    padding: 0.3rem 0.2rem;
}
.detail_footer .red_bag img{
    width: 0.76rem;
    height: 0.56rem;
    margin-right: 0.22rem;
    vertical-align: middle;
}
.detail_footer .red_bag p{
    display: inline-block;
    position: absolute;
    vertical-align: middle;
}
.detail_footer .btn div{
    display: inline-block;
    margin: 0.3rem auto;
}
.detail_footer .btn .red_btn {
    float: left;
    background: url("../images/redbag_btn.png") no-repeat;
    background-size: 100% 100%;
    width: 3rem;
    height: 0.94rem;
    text-align: center;
    margin-right: 0.3rem;
}
.detail_footer .btn .help_btn {
    background: url("../images/help_btn.png") no-repeat;
    background-size: 100% 100%;
    width: 3rem;
    height: 0.94rem;
    text-align: center;
    /*margin: 0.5rem 1rem;*/
}
/*列表部分*/
.detail_footer .list{
    width: 6.9rem;
    height: 4.06rem;
    margin: 0.36rem auto;
    font-family: PingFangSC-Regular;
    font-size: 0.26rem;
    color: #666666;
    background: #FFFFFF;
    border-radius: 10px;
}
.detail_footer .list .list_detail{
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    padding: 0.2rem 0.3rem 0 0.3rem;
}
.detail_footer .list .list_detail .item{
    text-align: left;
    width: 100%;
    line-height: 0.54rem;
    margin-bottom: 0.2rem;
}
.detail_footer .list .list_detail .item span{
    vertical-align:middle;
}
.detail_footer .list .list_detail .item img{
    width: 0.54rem;
    height: 0.54rem;
    border-radius: 50%;
    margin-right: 0.24rem;
    vertical-align:middle;
}
.detail_footer .list .list_detail .item .money{
    float: right;
    display: inline-block;
}
.detail_footer .list .total{
    padding-left: 3.4rem;
    /*padding-bottom: 0.3rem;*/
    padding-top: 0.3rem;
    /*padding-right: 0.3rem;*/
    font-size: 0.28rem;
}
/*右箭头*/
.right {
    width: 0.2rem;
    height: 0.2rem;
    position: absolute;
    left: 0;
    top: 0.36rem;
    /*border:1px solid blue;*/
}

.right-arrow1, .right-arrow2 {
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border-top: 0.1rem transparent dashed;
    border-right: 0.1rem transparent dashed;
    border-bottom: 0.1rem transparent dashed;
    border-left: 0.1rem white solid;
    overflow: hidden;
}

.right-arrow1 {
    left: 1px; /*重要*/
    border-left: 0.1rem #999999 solid;
}

.right-arrow2 {
    border-left: 0.1rem #FFFFFF solid;
}

