<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>分享详情</title>
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="css/pub/swiper.min.css">
    <link rel="stylesheet" href="css/detail.css">
    <script>
        +function () {
            remLayout();
            function remLayout() {
                var w = document.documentElement.clientWidth;
                w = w > 768 ? 768 : w;
                w = w <= 320 ? 320 : w;
                document.documentElement.style.fontSize = w / 7.5 + 'px';
            }

            window.addEventListener('resize', function () {
                remLayout();
            }, false);
        }();
    </script>
</head>
<body>
<main class="main">
    <script type="text/template" id="matchTemplate">
        <div class="swiper-container swiper-container-h">
            <div id="showMain" class="swiper-slide">
                <header class="detail_header">
                    <img class="header_img" src="images/detail_header.png" alt="help_img">
                    <img class="superman" src="images/superman.png" alt="素小友">
                    <div class="header_logo">
                        <div class="logo_top">
                            <img class="logo" src="images/logo.png" alt="logo">
                            <img class="suyou" src="images/btn_suyou.png" alt="素友">
                        </div>
                        <div class="world">
                            <img src="images/world.png" alt="世界很干净，人性很温暖">
                        </div>
                        <div class="friend">
                            <img src="images/friend.png" alt="打开心，帮朋友">
                        </div>
                        <div class="you">
                            <img src="images/you.png" alt="你是闪光的人">
                        </div>
                    </div>
                </header>
                <section id="content" class="detail_content">
                    <div class="header_help">
                        <span class="name"><%=dataList.helpUserName%></span>
                        <span>：“这是我朋友，有人能帮帮Ta吗？”</span>
                    </div>
                    <div class="same content_header">
                        <div class="header_photo">
                            <img src="<%=dataList.userHead%>" alt="">
                        </div>
                        <div class="header_person">
                            <p class="person_name"><%=dataList.userName%></p>
                            <span class="tag gender_age" id="gender">
                            <img class="tag_gender" src="<%=dataList.gender%>" alt="gender">
                            <span class="tag_age"><%=dataList.birthday%></span>
                        </span>
                            <span class="create_date"><%=dataList.publishTime%></span>
                            <p>
                                <img class="footer_img" src="images/btn_city.png" alt="city">
                                <span class="footer_font"><%= dataList.publishCity%></span>
                                <img class="footer_img" src="images/job.png" alt="job">
                                <span class="footer_font"><%= dataList.industry%></span>
                            </p>
                        </div>
                    </div>
                    <div class="aim">
                        <img class="aim_img" src="<%=dataList.publishTypeIconURL%>" alt="">
                        <span class="aim_title"><%=dataList.publishTitle%></span>
                    </div>
                    <div class="content">
                        <div class="content_detail" id="contentDetail" style="white-space:pre-line">
                            <%=dataList.publishContent%>
                        </div>
                        <ul class="content_img" id="contentImg">
                            <% for (var i = 0; i < dataList.images.length; i++) { %>
                            <% var image = dataList.images[i] %>
                            <li><img src="<%=image%>" alt=""></li>
                            <% } %>
                        </ul>
                    </div>
                    <div class="same content_footer">
                        <p id="pay">有偿</p>
                        <p id="redbag">帮转红包</p>
                    </div>
                </section>
                <footer class="detail_footer" id="footer">
                    <div class="red_bag">
                        <img src="images/redbag.png" alt="红包">
                        <p class="red_text">
                            <span style="color: #363B63;"><%=dataList.helpUserName%></span>
                            <span>送你一个帮转红包，快来领呀！</span>
                        </p>
                    </div>
                    <div class="btn">
                        <div class="red_btn" id="redBtn"></div>
                        <div class="help_btn" id="helpBtn"></div>
                    </div>
                    <div class="list">
                        <div class="list_detail">
                            <% for (var i = 0; i < dataList.list.length; i++) { %>
                            <% var item = dataList.list[i] %>
                            <div class="item">
                                <img src="<%=item.usersHead%>" alt="头像">
                                <span><%=item.usersName%></span>
                                <span class="money">
                                领到<span style="color: #FDD400;padding-left: 0.04rem;"><%=item.money%></span>元
                            </span>
                            </div>
                            <% } %>
                        </div>
                        <div class="total">
                            已有<span style="color: #FDD400;padding-left: 0.04rem;"><%=dataList.listSize%></span>人领到朋友的红包
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <!--点击图片放大-->
        <div class="showBigImg">
            <div class="swiper-container" id="imgWrap">
                <ul class="swiper-wrapper">
                    <% if(dataList.images.length > 0){ %>
                    <% for (var i = 0; i < dataList.images.length; i++) { %>
                    <% var image = dataList.images[i] %>
                    <li class="swiper-slide">
                        <img class="bigImg" src="<%=image%>" alt="大图">
                    </li>
                    <% } %>
                    <% } %>
                </ul>
            </div>
        </div>
    </script>
</main>
</body>
<script src="js/lib/zepto.min.js"></script>
<script src="js/lib/ejs.min.js"></script>
<script src="js/lib/swiper.min.js"></script>
<script src="js/public.js"></script>
<script src="js/detail.js"></script>


<!-- Initialize Swiper -->
<!--<script>
    var swiperH = new Swiper('.swiper-container-h', {
        spaceBetween: 50,
    });
</script>-->
</html>