@import "./reset.min.css";

html {
    font-size: 100px;
}

html, body {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
.main{
    margin: 0 auto;
    max-width: 7.5rem;
    font-family: Microsoft Yahei,SimSun,Helvetica;
}

